.root {
position: relative;
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    padding-left: 40px;
    width: 300px;
    font-size: 16px;
    border-radius: 15px;

    &:focus{
        border: 1px solid rgba(0, 0, 0, 0.5);
    }
}

.icon {
    width: 16px;
    height: 16px;
    position: absolute;
    opacity: 0.5;
    left: 12px;
    top: 15px;
}

.close {
    width: 15px;
    height: 15px;
    position: absolute;
    opacity: 0.5;
    right: 12px;
    top: 16px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}